@media screen and (max-width: 980px) {
  /* The body's bg color will be #333 */
  body {
    background-color: orange;
  }
  .main-section{
    max-width: 500px;
  }

  .sidebar{
    max-width: 300px;
  }

  .container{
    max-width: 900px;
  }
  /* The wrapper's width will be 600px */
  .wrapper {
    width: 900px;
  }

  .work {
    width: 400px;
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-color: yellow;

  }
  .main-section{
    max-width: 700px;
  }

  .sidebar{
    max-width: 700px;
  }

  .work {
    width: 250px;
    overflow: auto;
  }
  /* The wrapper's width will be 600px */
  .wrapper {
    width: 700px;
  }

  .container{
    max-width: 700px;
  }
}

@media screen and (max-width: 640px) {
  /* The body's bg color will be #333 */
  body {
    background-color: green;
  }

  .main-section{
    max-width: 600px;
  }

  .sidebar{
    max-width: 600px;
  }

  #logo{
    width: 640px;
    position: relative;
    bottom: 25px;
  }

  .work {
    width: 500px;
    overflow: auto;
  }

  .divisors{

    float: none;
    text-align: center;
  }

  /* The wrapper's width will be 600px */
  .wrapper {
    width: 600px;
  }

  .moveright{
    position: relative;
    right: 100px;
  }

  .moveleft{
    position: relative;
    left: 100px;
  }
}
